torch==2.3.1
torchvision==0.18.1
torchaudio==2.3.1
litgpt==0.4.3
snac==1.2.0
soundfile==0.12.1
openai-whisper
tokenizers==0.19.1 
streamlit==1.37.1
# PyAudio==0.2.14
pydub==0.25.1
onnxruntime==1.19.0
# numpy==1.26.3
gradio==4.42.0
librosa==0.10.2.post1
flask==3.0.3
fire
transformers
pyaudio